@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
}
body {
  background: rgb(172, 172, 172);
}
h1 {
  margin: 32px 0px;
  text-align: center;
  letter-spacing: 4px;
}
main {
  height: 80vh;
  display: flex;
  max-width: 1000px;
  margin: auto;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 32px;
}
.paint__color {
  position: relative;
}
#pen-color-picker,
#bg-color-picker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  display: none;
}
#bg-color-picker {
  top: 80px;
}
.canvas {
  flex: 1;
  height: 800px;
  background-color: #fff;
  border: solid 1.4px #41403e;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  border-bottom-left-radius: 15px 100px;
  border-bottom-right-radius: 205px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
#mainGrid {
  display: flex;
  flex-direction: column;
  height: 97%;
  width: 97%;
  padding-top: 3%;
  margin: auto;
}
.row {
  display: flex;
  flex: 1;
}
.box {
  flex: 1;
  border: 1px solid black;
}
/* CSS */
button {
  width: 100%;
  margin-bottom: 16px;
  align-self: center;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.btn-selected {
  background-color: rgb(207, 205, 205);
  color: #74726f;
  box-shadow: 0 0 0 0;
  transform: translate3d(0, 4px, 0);
}
/* .btn-selected:hover {
  box-shadow: 0 0 0 0;

  transform: translate3d(0, 0, 0);
} */

.slider-box {
}
.grid-size {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="range"] {
  height: 10px;
  border: 0.5px solid #6e6d6a;

  border-width: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  outline: none;

  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;

  border: 1px solid #6e6d6a;
  height: 30px;
  width: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  outline: none;

  border-style: solid;
  border-width: 2px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
